.section-inner {
    padding-top: 40px;
    padding-bottom: 30px;
}

.title {
    font-size: 46px;
    line-height: 50px;
    font-weight: 700;
}

.subtitle {
    margin-top: 10px;
    font-size: 18px;
    line-height: 26px;
}

p {
    color: #a09e9e;
}

.container {
    padding-left: 0;
    padding-right: 0;
}


.bg-yellow {
    background: #e6b505;
}

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f0f3ee;
}