/*
resets
*/

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h4 {
    margin: 0;
}

ul {
    list-style: none;
}

a,
a:hover,
a:visited,
a:active,
a:link {
    color: inherit;
    text-decoration: none;
}


/*
    general
*/

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

@import "general";
//header 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

.navbar-brand {
    padding: 20px 0 0 0;
}

.navbar-toggle {
    padding: 10px;
    margin: 15px;
}

.logo {
    padding: 0;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -1px;
}

.logo-emphasize {
    color: #e6b706;
}

.navbar li {
    border-left: 1px solid #CDCDCB;
    &:last-child {
        border-right: 1px solid #CDCDCB;
    }
    a {
        transition: color .3s ease-in, background-color .3s ease-out;
    }
}

.navbar-collapse.collapsing,
.navbar-collapse.in {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: #f1f3ee;
}

.navbar-collapse.collapsing {
    li {
        opacity: 0;
        transition: all .8s linear;
    }
    .transition {
        opacity: 0;
        transform: translateX(30px);
        transition: all .3s ease-in-out;
    }
}

.navbar-collapse.in {
    li {
        opacity: 1;
        transition: all .3s linear;
    }
    .transition {
        opacity: 1;
        transform: translateX(0);
        transition: all .4s linear;
    }
}

$menu-items: 5;
$menu-item-selector: ".navbar-collapse.in li";
@for $i from 1 through $menu-items {
    #{$menu-item-selector}:nth-of-type(#{$i}) {
        transition-delay: $i * 0.2s;
    }
}

$transition-items: 5;
$transition-item-selector: ".navbar-collapse.in .transition-";
@for $j from 1 through $transition-items {
    #{$transition-item-selector}#{$j} {
        transition-delay: $j * 0.2s;
    }
}

span[class*=transition] {
    display: inline-block;
}

//main
.hero {
    position: relative;
}

.hero-image-container {
    background-image: url("../img/hero-image.png");
    @media (max-width: 1199px) {
        background-image: url("../img/hero-image-md.png");
    }
    @media (max-width: 991px) {
        background-image: url("../img/hero-image-sm.png");
    }
    @media (max-width: 767px) {
        background-image: url("../img/hero-image-xs.png");
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    @media (min-width: 1200px) {
        background-position-y: -100px;
    }
    @media (min-width: 1500px) {
        background-position-y: -130px;
    }
    @media (min-width: 1800px) {
        background-position-y: -170px;
    }
}

.hero-slogan {
    position: absolute; // height: 50%;
    width: 40%; //width: 520px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: rgba(49, 51, 50, .6);
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    @media (max-width: 880px) {
        width: 360px;
    }
    .slogan {
        font-size: 28px;
        color: #fff;
        font-weight: 300;
        line-height: 34px;
    }
    .slogan-second {
        font-weight: 700;
    }
}

//content 
.content {
    position: relative;
}

.section {
    padding-top: 15px;
}

// triangle heights
$tri-xlg: 60px;
$tri-lg: 40px;
$tri-md: 30px;
$tri-sm: 20px;
$tri-xs: 15px;
.section-pentagon {
    &:after {
        content: " ";
        display: block;
        position: absolute;
        background: inherit;
        width: 100%;
        left: 0;
        top: 100%;
        -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        @media (max-width: 767px) {
            height: $tri-xs;
        }
        @media (min-width: 768px) {
            height: $tri-sm;
        }
        @media (min-width: 830px) {
            height: $tri-md;
        }
        @media (min-width: 992px) {
            height: $tri-md;
        }
        @media (min-width: 1200px) {
            height: $tri-lg;
        }
        @media (min-width: 1500px) {
            height: $tri-xlg;
        }
    }
}

.section:nth-child(n+3) {
    padding-top: 30px;
    @media (max-width: 767px) {
        padding-top: $tri-xs;
    }
    @media (min-width: 768px) {
        padding-top: $tri-sm;
    }
    @media (min-width: 830px) {
        padding-top: $tri-md;
    }
    @media (min-width: 992px) {
        padding-top: $tri-md;
    }
    @media (min-width: 1200px) {
        padding-top: $tri-lg;
    }
    @media (min-width: 1500px) {
        padding-top: $tri-xlg;
    }
}

@for $i from 2 through 6 {
    .content:nth-of-type(#{$i}) {
        z-index: 7 - $i;
    }
}

@import "portfolio";
@import "story";
@import "skills";
@import "footer";

/*
    custom
*/

@import "hamburger";
@import "custom-queries";
@media (min-width: 992px) {
    .col-md-offset-1_5 {
        margin-left: 12.5%;
    }
}

.custom-container {
    margin: 0 auto;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 830px) {
        width: 790px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
    @media (min-width: 1400px) {
        width: 1340px;
    }
    @media (min-width: 1500px) {
        width: 1420px;
    }
    @media (min-width: 1900px) {
        width: 1820px;
    }
}

.text-white {
    color: white;
}

.bg-yellow {
    background: #e6b505;
}

.bg-white {
    background: #fff;
}

.bg-gray {
    background: #f0f3ee;
}

.no-margins {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

// .section-pentagon {
//     -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
//     clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
// }
//services
@import "services";