.sly-container {
    padding-top: 20px;
    padding-bottom: 20px;
    .sly-item {

    }
}


//sly defaults
.frame {
    width: 100%;
    height: 250px;
    padding: 0;

    overflow-y: hidden;
}

.frame .slidee {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.frame .slidee li {
    float: left;
    margin-left: 20px;
    padding: 0;
    width: 400px;
    height: 100%;
    background: #000;
}