/*
resets
*/
* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h4 {
  margin: 0; }

ul {
  list-style: none; }

a, a:hover, a:visited, a:active, a:link {
  color: inherit;
  text-decoration: none; }

/*
    general
*/
body {
  font-family: 'Lato', sans-serif; }

.section-inner {
  padding-top: 40px;
  padding-bottom: 30px; }

.title {
  font-size: 46px;
  line-height: 50px;
  font-weight: 700; }

.subtitle {
  margin-top: 10px;
  font-size: 18px;
  line-height: 26px; }

p {
  color: #a09e9e; }

.container {
  padding-left: 0;
  padding-right: 0; }

.bg-yellow {
  background: #e6b505; }

.bg-white {
  background: #fff; }

.bg-gray {
  background: #f0f3ee; }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none; }

.navbar-brand {
  padding: 20px 0 0 0; }

.navbar-toggle {
  padding: 10px;
  margin: 15px; }

.logo {
  padding: 0;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: -1px; }

.logo-emphasize {
  color: #e6b706; }

.navbar li {
  border-left: 1px solid #CDCDCB; }
  .navbar li:last-child {
    border-right: 1px solid #CDCDCB; }
  .navbar li a {
    transition: color .3s ease-in, background-color .3s ease-out; }

.navbar-collapse.collapsing,
.navbar-collapse.in {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: #f1f3ee; }

.navbar-collapse.collapsing li {
  opacity: 0;
  transition: all .8s linear; }

.navbar-collapse.collapsing .transition {
  opacity: 0;
  transform: translateX(30px);
  transition: all .3s ease-in-out; }

.navbar-collapse.in li {
  opacity: 1;
  transition: all .3s linear; }

.navbar-collapse.in .transition {
  opacity: 1;
  transform: translateX(0);
  transition: all .4s linear; }

.navbar-collapse.in li:nth-of-type(1) {
  transition-delay: 0.2s; }

.navbar-collapse.in li:nth-of-type(2) {
  transition-delay: 0.4s; }

.navbar-collapse.in li:nth-of-type(3) {
  transition-delay: 0.6s; }

.navbar-collapse.in li:nth-of-type(4) {
  transition-delay: 0.8s; }

.navbar-collapse.in li:nth-of-type(5) {
  transition-delay: 1s; }

.navbar-collapse.in .transition-1 {
  transition-delay: 0.2s; }

.navbar-collapse.in .transition-2 {
  transition-delay: 0.4s; }

.navbar-collapse.in .transition-3 {
  transition-delay: 0.6s; }

.navbar-collapse.in .transition-4 {
  transition-delay: 0.8s; }

.navbar-collapse.in .transition-5 {
  transition-delay: 1s; }

span[class*=transition] {
  display: inline-block; }

.hero {
  position: relative; }

.hero-image-container {
  background: url("../img/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px; }
  @media (min-width: 1200px) {
    .hero-image-container {
      background-position-y: -100px; } }
  @media (min-width: 1500px) {
    .hero-image-container {
      background-position-y: -130px; } }
  @media (min-width: 1800px) {
    .hero-image-container {
      background-position-y: -170px; } }

.hero-slogan {
  position: absolute;
  width: 40%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: rgba(49, 51, 50, 0.6);
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px; }
  @media (max-width: 880px) {
    .hero-slogan {
      width: 360px; } }
  .hero-slogan .slogan {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    line-height: 34px; }
  .hero-slogan .slogan-second {
    font-weight: 700; }

.content {
  position: relative; }

.section {
  padding-top: 15px; }

.section-pentagon:after {
  content: " ";
  display: block;
  position: absolute;
  background: inherit;
  width: 100%;
  left: 0;
  top: 100%;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0); }
  @media (max-width: 767px) {
    .section-pentagon:after {
      height: 15px; } }
  @media (min-width: 768px) {
    .section-pentagon:after {
      height: 20px; } }
  @media (min-width: 830px) {
    .section-pentagon:after {
      height: 30px; } }
  @media (min-width: 992px) {
    .section-pentagon:after {
      height: 30px; } }
  @media (min-width: 1200px) {
    .section-pentagon:after {
      height: 40px; } }
  @media (min-width: 1500px) {
    .section-pentagon:after {
      height: 60px; } }

.section:nth-child(n+3) {
  padding-top: 30px; }
  @media (max-width: 767px) {
    .section:nth-child(n+3) {
      padding-top: 15px; } }
  @media (min-width: 768px) {
    .section:nth-child(n+3) {
      padding-top: 20px; } }
  @media (min-width: 830px) {
    .section:nth-child(n+3) {
      padding-top: 30px; } }
  @media (min-width: 992px) {
    .section:nth-child(n+3) {
      padding-top: 30px; } }
  @media (min-width: 1200px) {
    .section:nth-child(n+3) {
      padding-top: 40px; } }
  @media (min-width: 1500px) {
    .section:nth-child(n+3) {
      padding-top: 60px; } }

.content:nth-of-type(2) {
  z-index: 5; }

.content:nth-of-type(3) {
  z-index: 4; }

.content:nth-of-type(4) {
  z-index: 3; }

.content:nth-of-type(5) {
  z-index: 2; }

.content:nth-of-type(6) {
  z-index: 1; }

.sly-container {
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  padding-left: 50px;
  padding-right: 50px; }
  .sly-container .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 50px;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .7;
    cursor: pointer; }
    .sly-container .arrow:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1);
      transition: all .1s linear; }
    .sly-container .arrow:active {
      background-color: rgba(0, 0, 0, 0.2);
      transition: all .1s linear; }
    @media (max-width: 767px) {
      .sly-container .arrow {
        display: none; } }
  .sly-container .arrow.disabled {
    opacity: .3; }
  .sly-container .prev {
    left: 0px;
    background-image: url("../img/arrow-left.svg");
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .sly-container .next {
    right: 0px;
    background-image: url("../img/arrow-right.svg");
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.frame {
  width: 100%;
  height: 300px;
  padding: 0;
  overflow-y: hidden;
  position: relative; }
  @media (min-width: 768px) {
    .frame {
      height: 280px; } }
  @media (min-width: 992px) {
    .frame {
      height: 250px; } }
  @media (min-width: 1200px) {
    .frame {
      height: 220px; } }

.frame .slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none; }

.frame .slidee li {
  float: left;
  margin-left: 20px;
  padding: 0;
  width: 300px;
  height: 100%;
  position: relative; }
  @media (min-width: 768px) {
    .frame .slidee li {
      width: 315px; } }
  @media (min-width: 992px) {
    .frame .slidee li {
      margin-left: 24px;
      width: 274px; } }
  @media (min-width: 1200px) {
    .frame .slidee li {
      margin-left: 30px;
      width: 240px; } }
  .frame .slidee li .favourite, .frame .slidee li .name {
    position: absolute;
    z-index: 2; }
  .frame .slidee li:hover .favourite {
    opacity: 1; }
  .frame .slidee li .favourite {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url("../img/favourite.svg");
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: all .1s linear; }
    .frame .slidee li .favourite:hover {
      background-image: url("../img/favourite-pink.svg"); }
  .frame .slidee li .favourite.selected {
    background-image: url("../img/favourite-red.svg");
    opacity: 1;
    transition: all .2s linear; }
  .frame .slidee li .name {
    bottom: 0;
    font-size: 20px;
    text-align: center;
    transform: translateY(100%);
    background: rgba(36, 30, 30, 0.7);
    width: 100%;
    transition: all .1s ease-in-out;
    color: #fff; }
  .frame .slidee li:hover .name {
    transform: translateY(0);
    transition: all .2s ease-in-out; }
  @media (max-width: 991px) {
    .frame .slidee li .favourite {
      opacity: 1; }
    .frame .slidee li .name {
      transform: translate(0); } }

.sly-item {
  display: block;
  height: inherit;
  width: 100%;
  background: url("../img/pattern2.png");
  position: relative; }

.story-scrollbar-container {
  width: 100%;
  height: 4px;
  background: #f1f3ee;
  margin-bottom: 20px;
  position: relative; }
  .story-scrollbar-container:before, .story-scrollbar-container:after {
    content: " ";
    position: absolute;
    top: 50%;
    background-repeat: no-repeat;
    height: 16px;
    width: 12px;
    transform: translatey(-50%); }
  .story-scrollbar-container:before {
    left: -4px;
    background-image: url("../img/arrow-left-grey.svg"); }
  .story-scrollbar-container:after {
    right: -4px;
    background-image: url("../img/arrow-right-grey.svg"); }
  .story-scrollbar-container .scrollbar {
    width: 90%;
    margin: 0 auto;
    height: 4px;
    background: #f1f3ee;
    position: relative; }
    .story-scrollbar-container .scrollbar .handle {
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      background: #fff;
      border: 3px solid #e6b706;
      top: 50%;
      left: 0;
      margin-top: -10px; }

@media (max-width: 767px) {
  .skills {
    background: linear-gradient(to right, #e6b505, #e6b505 50%, #d8ae16 50%) !important; } }

.skills-container {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  padding-bottom: 60px; }
  @media (max-width: 767px) {
    .skills-container {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

.skill {
  float: left;
  color: #fff; }
  .skill .skill-title {
    font-size: 20px; }
  .skill .dial {
    width: 120px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      .skill .dial {
        width: 170px;
        margin-bottom: 20px;
        margin-top: 20px; } }
  .skill .skill-title {
    font-size: 20px; }
    @media (max-width: 767px) {
      .skill .skill-title {
        font-size: 30px;
        margin-bottom: 20px; } }

.footer {
  background-color: #313332;
  overflow: hidden; }

.subsection {
  color: white;
  padding-bottom: 20px; }

.subsection-title {
  margin-bottom: 20px; }

.subsection-content {
  font-size: 15px; }

.links-content {
  padding-left: 0 !important; }
  .links-content li {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    position: relative;
    padding-left: 30px; }
    .links-content li a {
      transition: all .1s linear;
      cursor: pointer;
      display: block;
      line-height: 36px; }
    .links-content li:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: 30px;
      width: 10px;
      background: url("../img/arrow-yellow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .1s linear; }
    .links-content li a:hover {
      color: #b3b3b3;
      transition: all .1s linear; }
    .links-content li:hover:before {
      transform: translate(4px, -50%);
      transition: all .1s ease-in-out; }

.contact-content {
  padding-left: 0; }
  .contact-content li {
    padding-top: 8px;
    padding-bottom: 8px; }
    .contact-content li a {
      display: block;
      position: relative;
      padding-left: 50px; }
    .contact-content li .icon {
      display: block;
      height: 100%;
      width: 30px;
      position: absolute;
      left: 10px;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .contact-content li .icon.address {
      background-image: url("../img/house-yellow.svg");
      transition: all .2s ease-out; }
    .contact-content li .icon.tel {
      background-image: url("../img/call-yellow.svg"); }
    .contact-content li .icon.mail {
      background-image: url("../img/envelope-yellow.svg"); }
    .contact-content li a:hover {
      color: #b3b3b3; }
      .contact-content li a:hover .icon.address {
        transform: scale(1.2);
        transition: all .2s ease-out; }
      .contact-content li a:hover .icon.tel {
        animation-name: tada; }
      .contact-content li a:hover .icon.mail {
        animation-name: jello; }

/*
    custom
*/
@media (min-width: 480px) {
  .col-xsm-1,
  .col-xsm-2,
  .col-xsm-3,
  .col-xsm-4,
  .col-xsm-5,
  .col-xsm-6,
  .col-xsm-7,
  .col-xsm-8,
  .col-xsm-9,
  .col-xsm-10,
  .col-xsm-11,
  .col-xsm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
  .col-xsm-1,
  .col-xsm-2,
  .col-xsm-3,
  .col-xsm-4,
  .col-xsm-5,
  .col-xsm-6,
  .col-xsm-7,
  .col-xsm-8,
  .col-xsm-9,
  .col-xsm-10,
  .col-xsm-11,
  .col-xsm-12 {
    float: left; }
  .col-xsm-12 {
    width: 100%; }
  .col-xsm-11 {
    width: 91.66666667%; }
  .col-xsm-10 {
    width: 83.33333333%; }
  .col-xsm-9 {
    width: 75%; }
  .col-xsm-8 {
    width: 66.66666667%; }
  .col-xsm-7 {
    width: 58.33333333%; }
  .col-xsm-6 {
    width: 50%; }
  .col-xsm-5 {
    width: 41.66666667%; }
  .col-xsm-4 {
    width: 33.33333333%; }
  .col-xsm-3 {
    width: 25%; }
  .col-xsm-2 {
    width: 16.66666667%; }
  .col-xsm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-offset-1_5 {
    margin-left: 12.5%; } }

.custom-container {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .custom-container {
      width: 750px; } }
  @media (min-width: 830px) {
    .custom-container {
      width: 790px; } }
  @media (min-width: 992px) {
    .custom-container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .custom-container {
      width: 1170px; } }
  @media (min-width: 1400px) {
    .custom-container {
      width: 1340px; } }
  @media (min-width: 1500px) {
    .custom-container {
      width: 1420px; } }
  @media (min-width: 1900px) {
    .custom-container {
      width: 1820px; } }

.text-white {
  color: white; }

.bg-yellow {
  background: #e6b505; }

.bg-white {
  background: #fff; }

.bg-gray {
  background: #f0f3ee; }

.no-margins {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

.service {
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 479px) {
    .service {
      width: 300px; } }

.service-icon-image {
  width: 180px; }
  @media (max-width: 479px) {
    .service-icon-image {
      width: 200px; } }

.service-name {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 15px; }

.service-description {
  font-size: 18px;
  line-height: 22px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .service-description {
      margin-bottom: 25px; }
      .service-description .service-description:last-child {
        margin-bottom: 15px; } }

.outer-container {
  width: 100%;
  height: 500px;
  background: #000; }
  .outer-container > * {
    display: none; }
  .outer-container > .inner-container {
    display: block; }
  .outer-container .inner-container {
    height: 100%;
    background: yellow;
    margin: 0 auto; }
